@import '../mixins.scss';

.translate__wrapper {

  .translate__form {
    position: relative;
    display: flex;

    @include responsive_mobile() {
      flex-direction: column;
    }

    .bp4-spinner {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: none;

      &.visible {
        display: block;
      }
    }

    textarea {
      resize: none;
      flex-grow: 1;
      white-space: pre-line;

      &.right__textarea {
        cursor: text;
        color: #121212;
      }
    }
  }
}